<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
	<title>Вход в админ-панель CMS Zoker</title>
	<link href="{$gDomain}/templates/admin/favicon.ico" rel="shortcut icon" >
	<link rel="stylesheet" href="{$gDomain}/templates/admin/css/admin-taller-style.css" type="text/css" >
</head>
<body id="login-enter">
		
		<form method="POST" action="{$gDomain}/admin/" id="login-enter-form">
			<img src="{$gDomain}/templates/admin/images/logo-zoker-cms.png" alt="Zoker CMS" id="logo-zekercms" /> 
			<input type="text" name="login" id="login-enter-login" maxlength="32">
			<input type="password" name="pwd" id="login-enter-password" maxlength="32">
			<input type="submit" value="Войти" id="login-enter-button">
		</form>

</body>
</html>


