<div class="page-header">
{if="!isset($cat.cat_id)"}
	<h1>Добавление категории страниц</h1>
{else}
	<h1>Редактирование категории страниц</h1>
{/if}
</div>

<form action='/admin/{$component_name}/catsave/' method='post' class="form-horizontal" role="form">
{if="isset($cat.cat_id)"}
	<input type='hidden' value='{$cat.cat_id}' name='cat_id'>
{/if}

<div class="form-group">
	<label class="col-sm-2 control-label">Заголовок категории:</label>
	<div class="col-sm-4">
		<input name='cat_title' class="form-control input-sm" type='text' value='{isset="$cat.cat_title"}'>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">Описание категории:</label>
	<div class="col-sm-4">
		<textarea name='desc' class="form-control input-sm">{isset="$cat.desc"}</textarea>
	</div>
</div>
<div class="form-group">
	<div class="col-sm-offset-2 col-sm-4">
		<td><input type='submit' class="btn btn-flat btn-sm btn-success" value='Сохранить'></td>
	</div>
</div>

<!-- <table>
	{loop="$GLOBALS.langs"}
		<tr>
			<td class='bold'>Заголовок категории ({$value}):</td>
			<td><input name='{$key}_cat_title' type='text' value='{isset="$data[$key1]['cat_title']}"'></td>
		</tr>
		<tr>
			<td class='bold' valign='top'>Описание категории ({$value}):</td>
			<td><textarea name='{$key}_desc'>{$data[$key1]['desc']}</textarea></td>
		</tr>
	{/loop}
</table> -->
</form>