{if="count($videos)==0"}
Вы пока не оставляли комментарии к видео.
{else}
Если в видео, которое вы комментировали ранее, появились новые записи, то здесь об этом напишут.
	{loop name="$videos"}
		<a  href='{$gDomain}/video/{$value.v_id}/' title='Зайти на страницу видео {$value.title}' class='newcomment'>
			<span class='floatleft'>
				<img width='50' src='{$gDomain}/uploads/video/cover/{$value.img}' alt='{$value.title}' />
			</span>
			<span class='newcomment-link'>
				{$value.title}
			</span>
			<span class='newcomment-time'>
			{$value.time}
			</span>
		</a>			
	{/loop}
{/if}